# Compilados Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/
.venv/
.env/

# Arquivos de configuração de IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos temporários de sistema
.DS_Store
Thumbs.db

# Arquivos de log e cache
*.log
*.db
*.pot
*.mo

# Arquivos de testes
.coverage
.cache/
.tox/
.nox/
pytest_cache/
.pytest_cache/

# Distribuição/empacotamento
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Arquivos secretos
.env
*.env
*.key
*.pem

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Outros específicos (se usar Django, Flask, etc)
migrations/
instance/
*.bak

arquivo-estudo/

backend/db.sqlite3

node_modules/

**/venv**

# Ignorar pasta de dados
frontend/src/data/
